@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

:root {
  --text-primary: #7d7d7d;
  --text-secondary: #000000;
  --text-display: #f3f3f3;
  --background-main: #ffffff;
  --line-color: #e5e5e5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  background-color: #ffffff;
  padding: 10px;
}
body {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  font-family: "Libre Baskerville", serif;
}
hr {
  margin-bottom: 40px;
  border: none;
  border-top: 1px solid var(--line-color);
  height: 100%;
  width: 100%;
}
h1,
h3 {
  color: var(--text-secondary);
}
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
}
h2 {
  color: var(--background-main);
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
}
p {
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  color: var(--text-primary);
}
small {
  color: var(--background-main);
  font-size: 13px;
}
a {
  color: var(--text-primary);
  text-decoration: none;
  letter-spacing: 2.571px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
}
a:hover {
  color: var(--text-secondary);
}

.main-container {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: auto;
  max-width: 1360px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.gallery {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 200px auto;
  grid-auto-flow: dense;
  border-top: 1px solid var(--line-color);
}
.hidden {
  display: none;
}
.gallery > div {
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  background-color: antiquewhite;
}
.gallery > div > article {
  position: absolute;
  bottom: 0;
  left: 0;
}
.gallery > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.painting {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  display: inline-block;
}
.painting:hover {
  cursor: pointer;
  transform: scale(0.99);
  opacity: 0.8;
}
.h-3 {
  grid-row: span 2;
}
.h-4 {
  grid-row: span 3;
}

.painting-slide {
  width: 100%;
  height: 85%;
}

.painting-info {
  width: 100%;
  height: 80%;
  display: flex;
  margin-bottom: 60px;
}
.the-artbox {
  width: 35%;
  height: 90%;
  position: relative;
}
.the-artbox > img {
  width: 100%;
  height: 100%;
}
.modal-button {
  cursor: pointer;
  padding: 14px 16px;
  position: absolute;
  color: var(--background-main);
  background: rgba(0, 0, 0, 0.7);
  bottom: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 10px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2.143px;
}
.modal-button:hover {
  transform: scale(0.98);
  background-color: rgba(255, 255, 255, 0.2);
}

.the-artpainter {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* align-items: center; */
  position: relative;
}
.the-artName {
  position: absolute;
  top: 0;
  left: -70px;
  background-color: var(--background-main);
  width: auto;
  height: auto;
  flex-shrink: 0;
  padding-left: 65px;
  padding-right: 30px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.the-artName > p {
  font-size: 15px;
  color: var(--text-primary);
}
.the-painter {
  width: 128px;
  height: 128px;
  flex-shrink: 0;
  margin-left: 50px;
}
.the-artdetails {
  width: 35%;
  height: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.display {
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: 150px;
  color: #f3f3f3;
}
.about-art {
  margin-top: -40px;
  padding-right: 100px;
}
.art-source {
  font-size: 9px;
  letter-spacing: 1.929px;
  text-decoration-line: underline;
}

.slider-bar {
  height: 1px;
  width: 100%;
  background-color: var(--line-color);
  margin: 0;
}
.slider {
  height: 100%;
  width: 10%;
  background-color: var(--text-secondary);
}
.details-slide {
  height: 11%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}
.current-painting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.current-painting small {
  color: var(--text-primary);
}
.buttons-slide {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn {
  cursor: pointer;
  background-color: var(--background-main);
  padding: 2px;
  border: none;
}
.btn:hover {
  transform: scale(0.9);
}

@media screen and (max-width: 1350px) {
  .display {
    font-size: 170px;
  }
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 48px;
  }
  .the-artName {
    padding: 20px;
    padding-top: 0;
  }
  .display {
    font-size: 150px;
  }
}
